---
import FavouriteLocation from "../components/FavouriteLocation";
import Constants from "../constants";
import "../styles/animation.scss";

const { states, zones } = Astro.props;
const { zone } = Astro.params;
const zoneParam = zone ? zone : Constants.defaultSettings.zone;
---

<div id="daerahList">
	<div class="overflow-y-auto w-max">
		<div class="stats py-2 overflow-hidden -ml-5">
			{
				zones.map((zone: any) => (
					<div id={"zone-" + zone[0]} class="w-48 relative stat pt-0 pb-0">
						<div class="stat-figure text-gray-400 bg-base-300">
							<FavouriteLocation defaultwaktusolatzone={zone[0]} client:only="react">
								<button
									title={"Set " + zone[0] + " as default waktu solat zone"}
									class="absolute bottom-0 left-6 z-50"
									type="submit"
								>
									<input
										class="defaultZoneCheckbox"
										id={"toggle-heart_" + zone[0]}
										data-zone={zone[0]}
										type="checkbox"
									/>
									<label
										for={"toggle-heart_" + zone[0]}
										aria-label="like"
										class="inline-block w-2 h-2 stroke-current"
									>
										<span class="text-sm">♥</span>
									</label>{" "}
								</button>
							</FavouriteLocation>
						</div>
						<a class="pb-6" href={"/" + states + "/" + zone[0]}>
							<span
								class={
									"inline-block text-xs flex-initial break-words " +
									(zone.indexOf(zoneParam) == 0
										? "text-white"
										: "text-gray-500")
								}
							>
								<b>{zone[0]}</b>
								<br />
								{zone[1]}
							</span>
						</a>
					</div>
				))
			}
		</div>
	</div>
</div>
