---
import Layout from "../layouts/Layout.astro";
import Constants from "../constants.js";
import SelectNegeri from "../components/SelectNegeri.astro";

export async function getStaticPaths() {
  let returnedAry: any = [];

  for (const state in Constants.locations) {
    const location = Constants.locations,
      cities = location[state as keyof typeof location];
    for (const city in cities) {
      returnedAry.push({
        params: { state, city },
        props: {
          cities: Object.entries(cities),
          location: cities[city as keyof typeof cities],
        },
      });
    }
  }
  return returnedAry;
}

const { state } = Astro.params;
const { cities } = Astro.props;
---

<Layout title={"adhan.app : " + state} state={state} cities={cities}>
  <div
    class="py-10 nav grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5"
  >
    {
      (cities as []).map((el: any) => (
        <div class="stat rounded-lg bg-base-200 overflow-hidden shadow-lg2">
          <a href={"/" + state + "/" + el[0]}>
            <div class="stat-title">{el[0]}</div>
            <div class="stat-desc text-wrap">{el[1]}</div>
          </a>
        </div>
      ))
    }
  </div>
</Layout>
