---
import Layout from "../layouts/Layout.astro";
import Constants from "../constants.js";

export async function getStaticPaths() {
  let returnedAry: any = [];

  for (const state in Constants.locations) {
    const location = Constants.locations,
      zones = location[state as keyof typeof location];
    for (const zone in zones) {
      returnedAry.push({
        params: { state, zone },
        props: {
          zones: Object.entries(zones),
          location: zones[zone as keyof typeof zones],
        },
      });
    }
  }
  return returnedAry;
}

const { state } = Astro.params;
const { zones } = Astro.props;
---

<Layout title={"adhan.app : " + state} state={state} zones={zones}>
  <div
    class="py-10 nav grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5"
  >
    {
      (zones as []).map((el: any) => (
        <div class="stat rounded-lg bg-base-200 overflow-hidden shadow-lg2">
          <a href={"/" + state + "/" + el[0]}>
            <div class="hidden stat-title">{el[0]}</div>
            <div class="stat-desc text-wrap">{el[1]}</div>
          </a>
        </div>
      ))
    }
  </div>
</Layout>
