---
import PrayerTimeTable from "./PrayerTimeTable.astro";
import Constants from "../constants";
import { getWaktuSolat, convertDate } from "../util";

const location = Astro.props.location
    ? Astro.props.location
    : Constants.defaultSettings.waktuSolatCity,
  //localStorage.getItem("location")
  cityCode = Astro.params.city
    ? Astro.params.city
    : Constants.defaultSettings.waktuSolatStateCode;
//localStorage.getItem("cityCode")

const { hijri, date, day } = getWaktuSolat(cityCode);
---

<div
  class="nav py-10 grid sm:grid-cols-5 md:grid-cols-5 lg:grid-cols-5 xl:grid-cols-5 gap-10"
>
  <div class="bg-base-200 rounded-box p-8">
    <div class="flex pb-4">
      <ul class="text-xs text-gray-400">
        <li class="hidden">{hijri}</li>
        <li>{convertDate(date)}</li>
        <li>{day}</li>
      </ul>
    </div>
    <h3>{location}</h3>
  </div>
  <div class="col-span-4">
    <PrayerTimeTable />
  </div>
</div>
