---
import PrayerTimeTable from "./PrayerTimeTable.astro";
import RandomTazkirah from "./RandomTazkirah.astro";
import Constants from "../constants";
import {
  getWaktuSolat,
  getLocationFromZone,
  convertDateMonthDay,
} from "../util";

const location = Astro.params.zone
    ? getLocationFromZone(Astro.params.zone)
    : Constants.defaultSettings.waktuSolatCity ||
      localStorage.getItem("location"),
  zone = Astro.params.zone
    ? Astro.params.zone
    : Constants.defaultSettings.waktuSolatStateCode ||
      localStorage.getItem("zone");

const { hijri, date, day } = getWaktuSolat(zone);
---

<div class="nav py-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
  <div class="p-8">
    <div class="flex pb-4">
      <ul class="text-xs text-gray-400">
        <li class="hidden">{hijri}</li>
        <li>{convertDateMonthDay(date)}</li>
        <li>{day}</li>
      </ul>
    </div>
    <h3>{location}</h3>
  </div>
  <div class="p-8 border rounded-box border-gray-700">
    <PrayerTimeTable />
  </div>
  <RandomTazkirah />
</div>
