---
import { getWaktuSolat, timeString12hr } from "../util";

const { zone } = Astro.params;
const { hijri, date, day, ...filteredObject } = getWaktuSolat(zone); // exclude hijri, date, day
---

<div class="overflow-x-auto">
 <table class="table">
  <thead>
   <tr>
    <th>Waktu</th>
    <th>Masa</th>
   </tr>
  </thead>
  <tbody>
   {
    Object.entries(filteredObject).map(([key, value]) => (
     <tr>
      <td>{key}</td>
      <td>
       <time>{timeString12hr(value)}</time>
      </td>
     </tr>
    ))
   }
  </tbody>
 </table>
</div>

<style>
 .currentPrayerTime {
  background-color: #ffb86c;
  color: #333;
 }
</style>
