---

---

<div class="text-lg p-10 leading-10 text-center">
  "Dan kalaulah (amal yang seberat zarrah) itu amal kebajikan, nescaya akan
  menggandakannya dan akan memberi, dari sisiNya, pahala yang amat besar" [Surah
  an-Nisa' 40]
</div>
