---
import Constants from "../constants";
const { states, zones } = Astro.props;
const { zone } = Astro.params;
import "../style/animation.scss";

const zoneParam = zone ? zone : Constants.defaultSettings.zone;
---

<div id="daerahList">
	<div class="overflow-y-auto w-max">
		<div class="stats shadow py-2 overflow-hidden">
			{
				zones.map((zone: any) => (
					<div class="relative stat pt-0 pb-2 -ml-5">
						<div class="stat-figure text-gray-400 bg-base-300">
							<a
								href="#"
								class="absolute top-0 right-8  z-50"
								title={"Set " + zone[0] + " as default location"}
							>
								<input id={"toggle-heart_" + zone[0]} type="checkbox" />
								<label
									for={"toggle-heart_" + zone[0]}
									aria-label="like"
									class="inline-block w-2 h-2 stroke-current"
								>
									<span class="text-lg">♥</span>
								</label>{" "}
							</a>
						</div>
						<a href={"/" + states + "/" + zone[0]}>
							<div
								class={
									zone.indexOf(zoneParam) == 0
										? "mb-2 stat-title text-white"
										: "mb-2 stat-title text-gray-400"
								}
							>
								{zone[0]}
							</div>
							<div
								class={
									zone.indexOf(zoneParam) == 0
										? "w-40 text-xs flex-initial break-words text-white"
										: "w-40 text-xs flex-initial break-words text-gray-400"
								}
							>
								{zone[1]}
							</div>
						</a>
					</div>
				))
			}
		</div>
	</div>
</div>
