---
const { state , cities} = Astro.props;

const {pathname} = Astro.url;
const currentCityCode = pathname.split('/')[2];

---

<div id="daerahList">
	<!-- <div class="divider"> -->
		<!-- Lokasi lain di {state} -->
		<!-- Lokasi utama lain -->
		<!-- Pautan ke lokasi utama -->
		<!-- Pilih lokasi -->
	<!-- </div> -->
	
	<div class="overflow-y-auto w-max">
<div class="stats shadow">
	{cities.map((el: any) => 
	<div class="stat">
		<a href={'/' + state + '/' + el[0]}>

	  <div class={el.indexOf(currentCityCode)==0 ?'stat-title selected': 'stat-title'}>{el[0]}</div>
	  <div class={el.indexOf(currentCityCode)==0 ?'stat-desc selected flex-initial break-words': 'stat-desc flex-initial break-words'}>{el[1]}</div>
	</div>
		</a>
		)}
	
  </div>
</div>
</div>

  <style>.selected{color: white}</style>
  <script>
	// import { isOpen } from '../store.js';
  
	// const daerahList = document.getElementById('daerahList') as HTMLInputElement;

	// isOpen.subscribe(open => {
	//   if (open) {
	// 	daerahList.classList.remove('hidden');
	//   } else {
	// 	daerahList.classList.add('hidden');
	//   }
	// })
  </script>