---
import Constants from "../constants";

const { pathname } = Astro.url;

const negeriLabel =
	pathname !== "/"
		? decodeURI(pathname).split("/")[1].replace("/", "")
		: Constants.defaultSettings.state;
---

<button class="btn btn-ghost ml-2" onclick="my_modal_1.showModal()">
	{negeriLabel}<svg
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 24 24"
		stroke-width="1.5"
		stroke="currentColor"
		class="w-6 h-6"
	>
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
	</svg>
</button>
<dialog id="my_modal_1" class="modal">
	<div class="z-10">
		<form method="dialog">
			<button class="btn btn-circle btn-sm"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-4 w-4"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
					><path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M6 18L18 6M6 6l12 12"></path></svg
				></button
			>
		</form>
	</div>

	<div class="modal-box border rounded-box border-gray-700">
		<div class="drawer auto-cols-auto">
			{
				Object.keys(Constants.locations).map((state: any) => (
					<div>
						<label class="py-2 block text-sm" for={"my-drawer-" + state}>
							{state}
						</label>
						<input
							id={"my-drawer-" + state}
							type="checkbox"
							class="drawer-toggle"
						/>
						<div class="drawer-side">
							<label
								for={"my-drawer-" + state}
								aria-label="close sidebar"
								class="drawer-overlay"
							/>
							<ul class="bg-base-200 text-base-content min-h-full md:w-70 sm:w-96 lg:w-96 w-72 p-6">
								{Object.keys((Constants.locations as any)[state]).map(
									(zone) => (
										<li>
											<a
												class="text-sm py-2 block"
												href={"/" + state + "/" + zone}
											>
												{(Constants.locations as any)[state][zone]}
											</a>
										</li>
									),
								)}
								<li class="hidden bg-gray-900">
									<a>Back</a>
								</li>
							</ul>
						</div>
					</div>
				))
			}
		</div>
	</div>
</dialog>
