<script>
	import {
		getFormattedDate,
		getClosestPrayerTime,
		getZoneFromURL,
	} from "../util";

	const zone = getZoneFromURL();
	async function getPrayerTimeByZone() {
		return await import(`../prayertimes/2024/${zone}.json`);
	}

	async function getPrayerTimeDatas() {
		const allDatas = await getPrayerTimeByZone();
		const prayerTimeData = allDatas.default[0].prayerTime;
		let prayerTime: any = {};

		for (const key in prayerTimeData) {
			if (prayerTimeData[key].date === getFormattedDate()) {
				Object.assign(prayerTime, prayerTimeData[key]);
			}
		}

		return prayerTime;
	}

	document.addEventListener(
		"DOMContentLoaded",
		async function () {
			const { hijri, date, day, ...filteredObject } =
				await getPrayerTimeDatas();
			const closestTime = getClosestPrayerTime(filteredObject);

			const tds = [...document.querySelectorAll("td")];
			tds.map((td) => {
				if (td.innerHTML.includes(closestTime)) {
					td.closest("tr")?.classList.add("currentPrayerTime");
				}
			});
		},
		false,
	);
</script>

<footer class="footer-center p-6 text-base-content sticky top-[100vh]" <aside>
	<a class="inline-block text-xs" href="/" title="back to home"> adhan.app </a>
	<div class="dropdown dropdown-top dropdown-end">
		<div tabindex="0" role="button" class="btn btn-ghost text-sm m-1">...</div>
		<ul
			tabindex="0"
			class="dropdown-content z-[1] menu p-2 shadow bg-base-200 rounded-box w-52"
		>
			<li>
				<label class="cursor-pointer label">
					<input
						type="checkbox"
						title="toggle theme"
						checked="checked"
						class="checkbox checkbox-accent checkbox-xs"
					/>
					<span class="label-text">toggle theme</span>
				</label>
			</li>
			<li>
				<label class="cursor-pointer label">
					<input
						type="checkbox"
						title="minimal mode"
						checked="checked"
						class="checkbox checkbox-accent checkbox-xs"
					/>
					<span class="label-text">minimal mode</span>
				</label>
			</li>
			<hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
			<li>
				<label class="cursor-pointer label">
					<input
						name="worksonffline"
						type="checkbox"
						title="works offline"
						checked="checked"
						class="checkbox checkbox-accent checkbox-xs"
					/>
					<span class="label-text">works offline</span>
				</label>
			</li>
		</ul>
	</div>
</footer>
