---
import Navigation from "../layouts/Navigation.astro";
import Footer from "../layouts/Footer.astro";

interface Props {
	title: string;
	state: string;
	city: {};
}

const { title, state, city } = Astro.props;

---

<!doctype html>
<html lang="en" data-theme="dracula">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<Navigation city={city} state={state} />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	h1.logo {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	main,
	header {
		/* padding: 1rem; */
		/* width: 1200px;
		max-width: calc(100% - 2rem); */
		/* color: white; */
		/* font-size: 20px; */
		line-height: 1.6;
	}
	main .nav {
		margin: auto;
		/* padding: 1rem; */
		width: 1200px;
		max-width: calc(100% - 2rem);
	}
	main .subnav{
		top: 0;
		z-index: 1;
		position: sticky;
	}

	/* .flip {
		display: inline-block;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	} */
</style>
