---
import Navigation from "../layouts/Navigation.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/main.scss";

interface Props {
	title: string;
	state: string;
	zones: {};
}

const { title, state, zones } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="adhan.app : waktu solat Malaysia" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!--<link
			rel="preload"
			href="/fonts/inter.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>-->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen" tabindex="0">
		<Navigation zones={zones} state={state} />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		background: #13151a;
		background-size: 224px;
	}
	main,
	header {
		line-height: 1.6;
	}
	.nav {
		margin: auto;
		width: 1200px;
		max-width: calc(100% - 2rem);
	}
	.subnav {
		top: 0;
		z-index: 1;
		position: sticky;
	}
</style>
